In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1382,tt0369441,100000000,202026112,Fun with Dick and Jane,Jim Carrey|TÃ©a Leoni|Alec Baldwin|Richard Jen...,Dean Parisot,Giving big businesses a run for their money!,"After losing their high-paying corporate jobs,...",90,Comedy,Imagine Entertainment|Columbia Pictures Corpor...,12/21/2005,5.9,2005
309,tt1233227,11000000,68233629,Saw VI,Tobin Bell|Costas Mandylor|Betsy Russell|Mark ...,Kevin Greutert,The Game Has Come Full Circle,"Special Agent Strahm is dead, and Detective Ho...",90,Horror|Mystery,Lionsgate|Twisted Pictures,10/22/2009,5.9,2009
13,tt2120120,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,7/16/2015,5.8,2015
1744,tt0416508,16500000,37311672,Becoming Jane,Anne Hathaway|James McAvoy|Julie Walters|James...,Julian Jarrold,Her own life is her greatest inspiration.,A biographical portrait of a pre-fame Jane Aus...,120,Drama|Romance,Ecosse Films|2 Entertain|Bueprint Pictures,3/2/2007,6.9,2007
324,tt0762125,70000000,104945765,Planet 51,Dwayne Johnson|Seann William Scott|Jessica Bie...,Jorge Blanco|Javier Abad|Marcos MartÃ­nez,Something strange is coming to their planet...Us!,When Earth astronaut Capt. Chuck Baker arrives...,91,Science Fiction|Animation|Family|Comedy|Adventure,TriStar Pictures|Ilion Animation Studios|Hand ...,11/19/2009,5.7,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue']-data['budget']
#создание нового столбца profit

def genre_list(string):
    result = string.str.split('|')
    return result
#функция по созданию списка из жанров


# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем # тут пишем ваш код для решения данного вопроса:
budget_max = data[data.budget == data.budget.max()]
display(budget_max)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)' #+

In [9]:
runtime_max = data[data.runtime == data.runtime.max()]
display(runtime_max)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' #+

In [11]:
runtime_min = data[data.runtime == data.runtime.min()]
display(runtime_min)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '109.6585494970884' #+

In [13]:
runtime_mean = data.runtime.mean()
display(runtime_mean)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107.0' #+

In [15]:
runtime_median = data.runtime.median()
display(runtime_median)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = '239. Avatar (tt0499549)' #+

In [17]:
profit_max = data[data.profit == data.profit.max()]
display(profit_max)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' #+

In [19]:
profit_min = data[data.profit == data.profit.min()]
display(profit_min)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478' #+

In [21]:
successful_films = data[data.revenue > data.budget].count()
display(successful_films)

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '599. The Dark Knight (tt0468569)' #+

In [23]:
profit_films2008 = data[data.release_year == 2008]
profit_films = profit_films2008[profit_films2008.profit == profit_films2008.profit.max()]
display(profit_films)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '1245. The Lone Ranger (tt1210819)' #+

In [25]:
profit_min = data[(data.release_year.isin([2012, 2013, 2014])) & (data.profit == data.profit.min())]
display(profit_min)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama' #+
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [27]:
genres_max = Counter(data.genres.str.split('|').sum()).most_common(1)
print(genres_max)

[('Drama', 782)]

ВАРИАНТ 2

In [28]:
data['genre_list_film'] = genre_list(data['genres'])
genre_list_film_sum = data['genre_list_film'].sum()
popular_genre = Counter(genre_list_film_sum).most_common(1)
print(popular_genre)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = 'Drama' #+

In [30]:
a = Counter(data[data.profit > 0].genre_list_film.sum()).most_common(1)
display(a)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
answers['13'] = 'Peter Jackson' #+

In [32]:
data['director_list'] = data.director.str.split('|')
s = data.groupby('director')['revenue'].agg(['sum']).sort_values('sum', ascending=False)
display(s)

                          sum
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[957 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = 'Robert Rodriguez' #+

In [34]:
data1 = data.copy()
data1[data1.genres.str.contains('Action')].director.str.split('|').explode('director').mode()[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = 'Chris Hemsworth' #+

In [36]:
data2 = data.copy()
data2['cast']= data2.cast.str.split('|')
data2 = data2.explode('cast')
films_2012 = data2[data2.release_year == 2012]
#display(films_2012)
films_2012.groupby(['cast'])['revenue'].agg(['sum']).sort_values('sum', ascending=False)

                          sum
cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Michael Nyqvist       3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557

[466 rows x 1 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
#Какой актер снялся в большем количестве высокобюджетных фильмов? 
#Примечание: в фильмах, где бюджет выше среднего по данной выборке.
answers['16'] = 'Matt Damon' #+

In [38]:
data2 = data.copy()
data2['cast']= data2.cast.str.split('|')
data2 = data2.explode('cast')
data2[data2.budget > data2.budget.mean()].cast.value_counts().head(1)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = 'Action' #+

In [40]:
data2['genres']= data2.genres.str.split('|')
data2 = data2.explode('genres')
data2[data2.cast == 'Nicolas Cage'].genres.value_counts().head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' #+

In [42]:
data3= data.copy()
data3['production_companies']= data3.production_companies.str.split('|')
data3 = data3.explode('production_companies')
data_1 = data3[data3.production_companies == 'Paramount Pictures']
data_1[data_1.profit == data_1.profit.min()].head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genre_list_film,director_list
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034,"[Thriller, Drama, History]",[Kathryn Bigelow]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '2015' #+

In [44]:
data.groupby(['release_year'])['revenue'].agg(['sum']).sort_values('sum', ascending=False).head(1)

                      sum
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '2014' #+

In [46]:
data4 = data.copy()
data4['production_companies']= data4.production_companies.str.split('|')
data4 = data4.explode('production_companies')
data_2 = data4[data4.production_companies.str.contains("Warner Bros. ")]
data_2.groupby(['release_year'])['profit'].agg(['sum']).sort_values('sum', ascending=False).head(1)

                    sum
release_year
2014          406645819

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = 'Сентябрь' #+

In [48]:
data5 = data.copy()
data5['release_date'] = pd.to_datetime(data['release_date'])
bi = data5['release_date'].dt.month
bi.value_counts().head(1)

9    227
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = '450' #+

In [50]:
si = data5[data5['release_date'].dt.month.isin([6, 7, 8])]
si1 = si['release_date'].dt.month.value_counts().sum()
si1

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
answers['23'] = 'Peter Jackson'

In [64]:
data6 = data5.copy()
su = data6[data6['release_date'].dt.month.isin([1, 2, 12])]
data6['director']= su.director.str.split('|')
data6 = su.explode('director')
data6['director'].value_counts()

Peter Jackson                     7
Steven Soderbergh                 6
Clint Eastwood                    6
Adam Shankman                     4
Shawn Levy                        4
                                 ..
Uwe Boll                          1
David Gordon Green                1
Wayne Kramer                      1
Lana Wachowski|Lilly Wachowski    1
Bill Condon                       1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
answers['24'] = 'Four By Two Productions'

In [54]:
data4['len_title'] = data4.original_title.map(lambda x: len(x))
data4.groupby(['production_companies'])['len_title'].agg(['mean']).sort_values('mean', ascending=False).head(1)

                         mean
production_companies
Four By Two Productions  83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = 'Midnight Picture Show'

In [56]:
data4['len_overview'] = data4.overview.apply(lambda x: len(str(x).split(' ')))
data4.groupby(['production_companies'])['len_overview'].agg(['mean']).sort_values('mean', ascending=False).head(1)

                        mean
production_companies
Midnight Picture Show  175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [58]:
borber = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= borber].sort_values(by = 'vote_average', ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [65]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [60]:
data.cast.str.split('|').apply(lambda x: list(combinations(x,2))).explode('cast').value_counts()[:3]

(Daniel Radcliffe, Emma Watson)     8
(Daniel Radcliffe, Rupert Grint)    8
(Rupert Grint, Emma Watson)         7
Name: cast, dtype: int64

ВАРИАНТ 2

# Submission

In [66]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Steven Soderbergh',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

27